
<div class="container">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">Professional Details</h1>
          <p class="lead">Following are the details of the projects in which I have worked on.</p>
        </div>
      </div>

<div class="row">
    <div *ngIf="projects" class="col-sm-12">
            <div *ngFor="let project of projects" class="card">
              <div class="card-header bg-primary text-white">{{project.name}}</div>
              <div class="card-body">
                <ul>
                    <li> <b> Client:</b> {{project?.client}}</li>
                    <li><b>Role: </b> {{project?.role}}</li>
                    <li><b>Technology Stack:</b>{{project?.tech}}</li>
                    <li> <b>Description:</b> {{project?.info}}</li>
                  </ul>
              </div> 
            </div>
    </div>
  </div>
</div>

