
<div class="row">
    <div class="col-sm-4">
        <div class="card" style="width:400px">
            <img class="card-img-top" src="../../assets/img/photo.jpg" alt="Card image" style="width:100%">
            <div class="card-body">
                <h4 class="card-title">Ajinkya Chanshetty</h4>
                <p class="card-text">A Front End Developer</p>
                <a href="https://in.linkedin.com/in/aajinkya" class="fa fa-linkedin"></a>
                <a href="https://github.com/TheAjinkya" class="fa fa-github"></a>
                <a href="https://twitter.com/_don_2" class="fa fa-twitter"></a>
                <a href="https://www.facebook.com/public/Ajinkya-Chanshetty" class="fa fa-facebook"></a>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
            <div class="card">
              <div class="card-header bg-primary text-white">Profile summary</div>
              <div class="card-body">
                <ul>
                    <li>Experience in UI Development for Web based applications.</li>
                    <li>Strong abilities in UI/UX analysis of Client requirements.</li>
                    <li>Setting-up of test environment, creation and Execution of test cases.</li>
                    <li>Worked on Agile methodology, Waterfall for web based platform.</li>
                  </ul>
              </div> 
            </div>

            <div class="card">
                <div class="card-header bg-danger text-white">Key Skills and Knowledge</div>
                <div class="card-body">
                  <ul>
                      <li>Angular V2/4/5/6/7/8/9</li>
                      <li>ReactJS</li>
                      <li>Javascript</li>
                      <li>HTML5 CSS3 </li>
                      <li>JQuery</li>
                    </ul>
                </div> 
              </div>

              <div class="card">
                <div class="card-header bg-success text-white">Work Experience</div>
                <div class="card-body">
                  <ul>
                      <li>Cognizant Technology Solutions - July 2019 to till date</li>
                      <li>IASYS Technology Solutions - Pune, India – Aug 2017 to March 2019.</li>
                      <li>SevenMentor Pvt Ltd - Pune, India – Sept 2016 to Aug 2017</li>
                      <li>SilverGrid Technologies - Pune, India – May 2015 to Sept 2016</li>
                    </ul>
                </div> 
              </div>

              <div class="card">
                <div class="card-header bg-warning text-white">Eductation</div>
                <div class="card-body">
                  <ul>
                      <li>Bachelor of Engineering – Pune University- D.Y.Patil Institute of Engg &Tech – 2014</li>
                      <li>HSC – Maharashtra State Board- Dayanad Scince College, Latur – 2009</li>
                      <li>SSC – Maharashtra State Board- Shri Deshikendra Highschool, Latur – 2007</li>
                    </ul>
                </div> 
              </div>
    </div>
  </div>


